.section {
    margin-top: 4rem;
    padding-top: 4rem;
  }
  
  .section:last-of-type {
  padding-bottom: 4rem;
  }

  #home {
    position: relative;
    animation: floatAnimation 3s ease-in-out infinite;
  }
  .navbar-nav a.nav-link {
    color: grey;
  }

  @keyframes floatAnimation {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
.card.portfolioContent {
    transition: transform 0.3s;
    }

.card.portfolioContent:hover {
     transform: scale(1.07);
    }


.card-img-top {
    height: 200px; 
     object-fit: cover;
    }
 
.bgimage {
  
  height:100vh; 
  background: url('images/heroImage2.jpg');
  background-size: cover; 
  position:relative;
  padding: 0;
  margin: 0;
    
  }

.container1 {
  background-color: #f9f9f9; 
  padding: 50px;
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.container1 h1 {
  font-size: 36px; 
  color: #333;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
}

.image_about {
  max-width: 100%; 
  border-radius: 50%; 
  border: 5px solid #fff; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

.col-lg-8 p {
  font-size: 16px;
  color: #555; 
  line-height: 1.6;
}

.col-lg-8 ul {
  list-style-type: disc;
  margin-left: 20px; }


.image_about:hover {
  transform: scale(1.05); 
  transition: transform 0.3s ease;
}

  
  .hero_title {
  
  padding-top: 10rem;
  font-size: 4.5rem;
  }
  
  .hero_desc {
  
  font-size: 2rem;
  }
  
  .hero_text {
  
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  }
  
  .servicesText.card {
  
  height: 280px;
  cursor: pointer;
  
  }
  
  
  .servicesIcon {
  
  font-size: 36px;
  
  text-align: center;
  
  width: 100%;
  
  }
  
  .card-title {
  
  text-align: center;
  
  } 
  .card:hover .servicesIcon {
  
  color: #008000;
  }
  
  .servicesText:hover {
  border: 1px solid #eee;
  } 
  
  .container1{
  
  background-color: beige;
  }
  
  .container2{
  background-color:azure
   }
  .container3{
  
  background-color: blanchedalmond;
  
  }